.produtos-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 20px;
  background-color: #f5f5f5; /* fundo do container */
}

.produto-card {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff; /* fundo do card */
  color: #333333; /* cor do texto */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.produto-card h2 {
  margin-bottom: 10px;
}

.produto-card p {
  margin: 5px 0;
}

